spring:
  application:
    name: eureka-server
server:
  port: 8761
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    response-cache-update-interval-ms: 1000
logging:
  level:
    com.netflix.eureka: OFF
    com.netflix.discovery: OFF